@model Shelter2.Models.Shelter

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Приют</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameShelter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameShelter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priceshelter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priceshelter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeShelter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeShelter)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
