@model IEnumerable<Shelter2.Models.Volonteer>

@{
    ViewData["Title"] = "Index";
}

<h1>Волонтеры</h1>

<p>
    <a asp-action="Create">Создать нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameVolonteer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVolonteer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusVolonteer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeVolonteer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceVolonteer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameVolonteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVolonteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusVolonteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeVolonteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceVolonteer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelter.NameShelter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
